In [77]:
[3, 30, 34, 5, 9, 0]	9534330
[6, 10, 2]

SyntaxError: invalid syntax (<ipython-input-77-3825145e9d3b>, line 1)

In [78]:
numbers = [3, 30, 34, 5, 9, 0]
numbers

[3, 30, 34, 5, 9, 0]

In [79]:
t = list(map(len, map(str, numbers)))
t

[1, 2, 2, 1, 1, 1]

In [80]:
boss = max(t)

In [95]:
m = []
for i,j in zip(numbers, t):
    if j < boss:
        k = boss - j
        m.append([i*10**k,j])
    else:
        m.append([i,j])

[[30, 1], [30, 2], [34, 2], [50, 1], [90, 1], [0, 1]]

In [87]:
import operator
m.sort(key = operator.itemgetter(0), reverse = True)
m

[[90, 1], [50, 1], [34, 2], [30, 1], [30, 2], [0, 1]]

In [102]:
n = []
for i, j in m:
    if j < boss:
        k = boss - j
        n.append(int(i/10**k))
    else:
        n.append(i)
o = list(map(str,n))
n

[9, 5, 34, 3, 30, 0]

In [103]:
ans = ""
for i in o:
    ans = ans + i
ans

'95343300'

In [110]:
import operator

t = list(map(len, map(str, numbers)))
boss = max(t)
m = []
for i,j in zip(numbers, t):
    if j < boss:
        k = boss - j
        m.append([i*10**k,j])
    else:
        m.append([i,j])
m.sort(key = operator.itemgetter(0),reverse = True)
n = []
for i, j in m:
    if j < boss:
        k = boss - j
        n.append(int(i/10**k))
    else:
        n.append(i)
o = list(map(str,n))
answer = ""
for i in o:
    answer = answer + i
answer

'95343300'

In [120]:
numbers = list(map(str, numbers))
numbers.sort(key = lambda x : x*3, reverse = True)
numbers

['9', '5', '34', '3', '30', '0']

In [123]:
numbers[2]*

'343434'

In [130]:
l = ["999","343434","333","3847","49249"]

In [131]:
l.sort(reverse = True)
l

['999', '49249', '3847', '343434', '333']